## Web Scraping Assignment 4

In [21]:
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import pandas as pd
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia:<br>
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos<br>
You need to find following details:<br>
A) Rank<br>
B) Name<br>
C) Artist<br>
D) Upload date<br>
E) Views<br>

In [22]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [24]:
Titles = []
Artists = []
Views = []
Upload_date = []
Ranks = []
for i in range(2,32):
    
    time.sleep(3)
    
    try:
        rank = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[1]').text
        Ranks.append(rank)
    except:
        Ranks.append('NA')
    try:
        title = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[2]').text
        Titles.append(title)
    except:
        Titles.append('NA')
    try:
        artist = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[3]').text
        Artists.append(artist)
    except:
        Artists.append('NA')
    try:
        view = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[4]').text
        Views.append(view)
    except:
        Views.append('NA')
    try:
        date = driver.find_element_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[5]').text
        Upload_date.append(date)
    except:
        Upload_date.append('NA')

youtube_Wiki_df = pd.DataFrame(list(zip(Ranks , Titles , Artists , Views , Upload_date )),
                               columns=['Ranks' , 'Titles' , 'Artists' , 'Views' , 'Upload_Date'  ])
youtube_Wiki_df

,Ranks,Titles,Artists,Views,Upload_Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.79,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.46,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.15,"February 27, 2018"
8,9.,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
9,10.,"""Gangnam Style""[34]",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.92,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""[39]",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""[40]",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
20,21.,"""Shake It Off""[46]",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""[48]",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""[52]",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[53]",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""[54]",Adele,2.84,"October 22, 2015"
29,30.,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

2. Scrape the details team India’s international fixtures from bcci.tv.<br>
Url = https://www.bcci.tv/.<br>
You need to find following details:<br>
A) Match title (I.e. 1st ODI)<br>
B) Series<br>
C) Place<br>
D) Date<br>
E) Time<br>
Note: - From bcci.tv home page you have reach to the international fixture page through code.<br>

In [25]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get(' https://www.bcci.tv/')

In [26]:
international = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]')
international.click()
fixtures = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
fixtures.click()

In [28]:
odi = driver.find_element_by_xpath('//*[@id="TestAlexFilter"]/div/ul/li[3]/span')
odi.click()

In [29]:
Matches = [] 
Series = [] 
Places = [] 
Dates= [] 
Times = []
for i in range(1,4):
    try:
        match = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a['+str(i)+']/div[2]/div[2]/p/strong').text
        Matches.append(match)
    except:
        Matches.append('NA')
    try:
        Serie = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a[1]/div[2]/div[1]/span[2]').text
        Series.append(Serie)
    except:
        Series.append('NA')
    try:
        Place = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a[2]/div[2]/div[2]/p/span').text
        Places.append(Place)
    except:
        Places.append('NA')
    try:
        Date = driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a['+str(i)+']/div[1]/div/span').text + driver.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a[1]/div[1]/div/div/span[1]').text
        Dates.append(Date)
    except:
        Dates.append('NA')
    try:
        Time = driver.find_element_by_class_name('fixture__time').text
        Times.append(Time)
    except:
        Times.append('NA')
Bcci_df = pd.DataFrame(list(zip(Matches, Series, Places, Dates, Times)) , 
                      columns = ['Matches', 'Series' ,'Places' ,'Dates' ,'Time'])
Bcci_df

,Matches,Series,Places,Dates,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",13JULY,14:30 IST
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",16JULY,14:30 IST
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",18JULY,14:30 IST

3. Scrape the details of selenium exception from guru99.com.<br>
Url = https://www.guru99.com/<br>
You need to find following details:<br>
A) Name<br>
B) Description<br>
Note: - From guru99 home page you have to reach to selenium exception handling page through code.<br>

In [30]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com/')

In [31]:
Selenium = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a')
Selenium.click()

In [12]:
Selenium_exception_hand = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
Selenium_exception_hand.click()

In [13]:
Names = []
Descriptions = []
for i in range(2,43):  
    try:
        Name = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)+']/td[1]').text
        Names.append(Name)
    except:
        Names.append('NA')
        
    try:
        Desc = driver.find_element_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr['+str(i)+']/td[2]').text
        Descriptions.append(Desc)
    except:
        Descriptions.append('NA')
        
Selenium_Exc_df = pd.DataFrame(list(zip(Names,Descriptions)),columns = ['Exception_Names' , 'Descriptions'])
Selenium_Exc_df

,Exception_Names,Descriptions
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.<br>
Url = http://statisticstimes.com/<br>
You have to find following details:<br>
A) Rank<br>
B) State<br>
C) GSDP(18-19)<br>
D) GSDP(17-18)<br>
E) Share(2017)<br>
F) GDP($ billion)<br>
Note: - From statisticstimes home page you have to reach to economy page through code.

In [32]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get(' http://statisticstimes.com/')

In [34]:
economy = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button')
economy.click()
India = driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()
Gdp_India = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
Gdp_India.click()

In [36]:
Ranks = []
States = []
GSDP_19_20 = []
GSDP_18_19 = []
Shares = []
Gdps = []
for i in range(1,34):
    try:
        Rank = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[1]').text
        Ranks.append(Rank)
    except:
        Ranks.append('NA')
    try:
        State = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[2]').text
        States.append(State)
    except:
        States.append(State)
    try:
        GSDP1 = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[3]').text
        GSDP_19_20.append(GSDP1)
    except:
        GSDP_19_20.append('NA')
    try:
        GSDP2 = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[4]').text
        GSDP_18_19.append(GSDP2)
    except:
        GSDP_18_19.append('NA')
    try:
        Share = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[5]').text
        Shares.append(Share)
    except:
        Shares.append('NA')
    try:
        Gdp = driver.find_element_by_xpath('//*[@id="table_id"]/tbody/tr['+str(i)+']/td[6]').text
        Gdps.append(Gdp)
    except:
        Gdps.append('NA')
Stats_df = pd.DataFrame(list(zip(Ranks, States, GSDP_19_20, GSDP_18_19, Shares, Gdps)), 
                       columns = ['Ranks' , 'States' , 'GSDP_19_20', 'GSDP_18_19' , 'Shares' , 'Gdps'])
Stats_df

   Ranks                     States GSDP_19_20 GSDP_18_19  Shares     Gdps
0      1                Maharashtra          -  2,632,792  13.94%  399.921
1      2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2      3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3      4                    Gujarat          -  1,502,899   7.96%  228.290
4      5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5      6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6      7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7      8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8      9                  Telangana    969,604    861,031   4.56%  130.791
9     10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10    11                     Kerala          -    781,653   4.14%  118.733
11    12                      Delhi    856,112    774,870   4.10%  117.703
12    13                    Haryana    831,610    734,163   3.89%  111.519
13    14                      Bihar    611,804    530,363   2.81%   80.562
14    15                     Punjab    574,760    526,376   2.79%   79.957
15    16                     Odisha    521,275    487,805   2.58%   74.098
16    17                      Assam          -    315,881   1.67%   47.982
17    18               Chhattisgarh    329,180    304,063   1.61%   46.187
18    19                  Jharkhand    328,598    297,204   1.57%   45.145
19    20                Uttarakhand          -    245,895   1.30%   37.351
20    21            Jammu & Kashmir          -    155,956   0.83%   23.690
21    22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22    23                        Goa     80,449     73,170   0.39%   11.115
23    24                    Tripura     55,984     49,845   0.26%    7.571
24    25                 Chandigarh          -     42,114   0.22%    6.397
25    26                 Puducherry     38,253     34,433   0.18%    5.230
26    27                  Meghalaya     36,572     33,481   0.18%    5.086
27    28                     Sikkim     32,496     28,723   0.15%    4.363
28    29                    Manipur     31,790     27,870   0.15%    4.233
29    30                   Nagaland          -     27,283   0.14%    4.144
30    31          Arunachal Pradesh          -     24,603   0.13%    3.737
31    32                    Mizoram     26,503     22,287   0.12%    3.385
32    33  Andaman & Nicobar Islands          -          -       -        -

5. Scrape the details of trending repositories on Github.com.<br>
Url = https://github.com/<br>
You have to find the following details:<br>
A) Repository title<br>
B) Repository description<br>
C) Contributors count<br>
D) Language used<br>
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [37]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')

In [38]:
Explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
Explore.click()
Trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a')
Trending.click()

In [41]:
Repo_title = []
Repo_desc = []
Contributor_Count = []
Language = []
for i in range(1,26):
    try:
        repo = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/h1/a/span').text
        Repo_title.append(repo.strip('/'))
    except:
        Repo_title.append('NA')
    try:
        repo_d = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/p').text
        Repo_desc.append(repo_d)
    except:
        Repo_desc.append('NA')
    try:
        cont_c = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/div[2]/a[2]').text
        Contributor_Count.append(cont_c)
    except:
        Contributor_Count.append('NA')
    try:
        lang = driver.find_element_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article['+str(i)+']/div[2]/span[1]/span[2]').text
        Language.append(lang)
    except:
        Language.append('NA')

Git_df = pd.DataFrame(list(zip(Repo_title, Repo_desc, Contributor_Count, Language)),
                      columns=['Repo_title','Repo_desc','Contributor_Count','Language.append'])
Git_df

,Repo_title,Repo_desc,Contributor_Count,Language.append
0,nushell,A new type of shell,613,Rust
1,thanos-io,Highly available Prometheus setup with long te...,"1,276",Go
2,keras-team,Deep Learning for humans,"18,721",Python
3,vercel,The React Framework,"13,019",JavaScript
4,chromium,The official GitHub mirror of the Chromium source,"3,768",NA
5,google,Libraries and tools to perform fully homomorph...,88,C++
6,AkashSingh3031,This repository contains all the DSA (Data-Str...,201,Jupyter Notebook
7,programthink,【编程随想】收藏的电子书清单（多个学科，含下载链接）,"2,141",NA
8,vxunderground,Collection of malware source code for a variet...,547,Assembly
9,monyhar,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,102,C
10,lydiahallie,A long list of (advanced) JavaScript questions...,"4,546",NA
11,ibraheemdev,A collection of modern/faster/saner alternativ...,48,NA
12,Asabeneh,30 days of JavaScript programming challenge is...,"1,807",JavaScript
13,massgravel,A collection of scripts for activating Microso...,755,Batchfile
14,trimstray,"A collection of inspiring lists, manuals, chea...","4,417",NA
15,neuralchen,The official project of SimSwap (ACM MM 2020),37,Python
16,programthink,【编程随想】整理的《太子党关系网络》，专门揭露赵国的权贵,"2,040",Python
17,jina-ai,Cloud-native neural search framework for any k...,524,Python
18,hotwired,Use Turbo in your Ruby on Rails app,93,JavaScript
19,seata,"🔥 Seata is an easy-to-use, high-performance, o...","6,307",Java
20,allenai,"An open-source NLP research library, built on ...","2,071",Python
21,siduck76,beautiful neovim setup configured in lua,89,Lua
22,dotnet,Documentation for ASP.NET Core,"22,032",C#
23,yunjey,PyTorch Tutorial for Deep Learning Researchers,"6,559",Python
24,neon-age,Keeps your screen real-estate clean with refin...,12,C#

6. Scrape the details of top 100 songs on billiboard.com.<br>
Url = https://www.billboard.com/<br>
You have to find the following details:<br>
A) Song name<br>
B) Artist name<br>
C) Last week rank<br>
D) Peak rank<br>
E) Weeks on board<br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code.<br>

In [42]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.billboard.com/')

In [44]:
hot_100 = driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/nav/ul/li[3]/a')
hot_100.click()

In [45]:
song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Week_on_board = []

for i in range(1,101):
    try:
        song = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li['+str(i)+']/button/span[2]/span[1]').text
        song_name.append(song)
    except:
        song_name.append('NA')
    try:
        artist = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li['+str(i)+']/button/span[2]/span[2]').text
        Artist_name.append(artist)
    except:
        Artist_name.append('NA')
    try:
        lw_rank = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li['+str(i)+']/button/div/div[1]').text
        Last_week_rank.append(lw_rank)
    except:
        Last_week_rank.append('NA')
    try:
        p_rank = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li['+str(i)+']/button/div/div[2]').text
        Peak_rank.append(p_rank)
    except:
        Peak_rank.append('NA')
    try:
        w_on_b = driver.find_element_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li['+str(i)+']/button/div/div[3]').text
        Week_on_board.append(w_on_b)
    except:
        Week_on_board.append('NA')

Hot_100 = pd.DataFrame(list(zip(song_name,Artist_name,Last_week_rank,Peak_rank,Week_on_board)),
                      columns = ['song_name', 'Artist_name','Last_week_rank','Peak_rank','Week_on_board'])
Hot_100

,song_name,Artist_name,Last_week_rank,Peak_rank,Week_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,,3,2
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Gang Gang,Polo G & Lil Wayne,61,33,3
96,Drinkin' Beer. Talkin' God. Amen.,Chase Rice Featuring Florida Georgia Line,75,75,2
97,Follow You,Imagine Dragons,,86,68
98,NA,NA,NA,NA,NA
99,Chasing After You,Ryan Hurd With Maren Morris,,87,87

7. Scrape the details of Data science recruiters from naukri.com.<br>
Url = https://www.naukri.com/<br>
You have to find the following details:<br>
A) Name<br>
B) Designation<br>
C) Company<br>
D) Skills they hire for<br>
E) Location<br>
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on<br> search. All this should be done through code<br>

In [46]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/')

In [47]:
recruiter = driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').get_attribute('href')
driver.get(recruiter)

In [48]:
search = driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [49]:
search_submit = driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')
search_submit.click()

In [52]:
soup = BeautifulSoup(driver.page_source , 'lxml')
all_d = soup.find_all('div' , class_ = 'outerRecSec')

In [53]:
Names = []
Designation = []
location = []
Skills = []
for j in all_d:
    Name = j.find('span' , class_ = 'fl ellipsis')
    Names.append(Name.text)
    desig = j.find('span' , class_ = 'ellipsis clr')
    Designation.append(desig.text)
    loc = j.find('small' , class_ = 'ellipsis')
    location.append(loc.text)
    skill = j.find('div' , class_ = 'hireSec highlightable')
    Skills.append(skill.text)
# print(Names)
# print(Designation)
# print(location)
# print(Skills)
Naukri_df = pd.DataFrame({'R_Names':Names , 'R_Designation' : Designation , 'R_Location' :location , 'R_Skills':Skills})
Naukri_df

,R_Names,R_Designation,R_Location,R_Skills
0,Aakash Harit,HR Manager,Delhi,"Classic ASP Developer, Internet Marketin..."
1,MARSIAN Technologies LLP,Company HR,Pune,"Data Science, Artificial Intelligence, ..."
2,subhas patel,Founder CEO,UK - (london),"Hadoop, Spark, Digital Strategy, Dat..."
3,Institute for Financial Management and Resear,Programme Manager,Chennai,Data Science
4,Asif Lucknowi,Director,Indore,"Technical Training, Software Development..."
5,Kalpana Dumpala,Executive Hiring,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Arch..."
6,Kushal Rastogi,Company HR,Mumbai,"Office Administration, Hr Administration..."
7,Mahesh Babu Channa,HR Team Lead,Hyderabad / Secunderabad,"Social Media, digital media maketing, ..."
8,Manisha Yadav,HR Executive,Navi Mumbai,"Telecalling, Client Interaction, Marke..."
9,Rashmi Bhattacharjee,HR Head,Delhi,"Corporate Sales, Software Development, ..."
10,Rithika dadwal,HR Recruiter,Pune,"Data Science, Machine Learning, Python..."
11,Sandhya Khandagale,HR Recruiter,Pune,"Big Data, Data Science, Artificial Int..."
12,Manas,Lead Talent acquisition,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, ..."
13,Sunil Vedula,CEO,Delhi,"Signal Processing, Machine Learning, N..."
14,Priya Khare,Senior Manager,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, ..."
15,Jayanth N,Project Manager,Mysoru / Mysore,"Data Analytics, Managed Services, Team..."
16,Prateek Kumar,Head,Noida,"Java, Python, Angularjs, Software Te..."
17,Kanan,senior technology instructor,Chennai,"C, C++, Artificial Intelligence, Pyt..."
18,Brad,"Manager, Technical Recruiting",Salt Lake City,"Data Science, Software Engineering"
19,Madhusudhan Sridhar,Erp Implementer,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
20,Gaurav Chouhan,Chief Technical Officer,Indore,"Software Development, Business Intellige..."
21,Ashwini,Director Global Delivery,MYSORE,"Data Science, Media Marketing, Resourc..."
22,Rajani Nagaraj,HR Manager,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, ..."
23,Amir Chowdhury,Managing Partner,Noida,"Machine Learning, Data Science, Produc..."
24,Sunny Sharma,Managing Director - HR,Mumbai,"Software Professionals, Engineering, T..."

8. Scrape the details of Highest selling novels.<br>
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/<br>
You have to find the following details:<br>
A) Book name<br>
B) Author name<br>
C) Volumes sold<br>
D) Publisher<br>
E) Genre<br>

In [54]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [55]:
Titles = []
Author_Names = []
Volumes_Sold = []
Publisher = []
Genres = []

for i in range(0,100):
    try:
        Title = driver.find_element_by_xpath('//*[@id="table-cell-10943-'+str(i)+'-1"]').text
        Titles.append(Title)
    except:
        Titles.append('NA')
    try:
        Author = driver.find_element_by_xpath('//*[@id="table-cell-10943-'+str(i)+'-2"]').text
        Author_Names.append(Author)
    except:
        Author_Names.append('NA')
    try:
        Volume = driver.find_element_by_xpath('//*[@id="table-cell-10943-'+str(i)+'-3"]').text
        Volumes_Sold.append(Volume)
    except:
        Volumes_Sold.append('NA')
    try:
        Publish =  driver.find_element_by_xpath('//*[@id="table-cell-10943-'+str(i)+'-4"]').text
        Publisher.append(Publish)
    except:
        Publisher.append('NA')
    try:
        Genre =  driver.find_element_by_xpath('//*[@id="table-cell-10943-'+str(i)+'-5"]').text
        Genres.append(Genre)
    except:
        Genres.append('NA')

Book_df = pd.DataFrame(list(zip(Titles,Author_Names, Volumes_Sold, Publisher,Genres)) , 
                       columns = ['Titles' , 'Author_Names' , 'Volumes_Sold' , 'Publisher' , 'Genres'])
Book_df

,Titles,Author_Names,Volumes_Sold,Publisher,Genres
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.<br>
Url = https://www.imdb.com/list/ls095964455/<br>
You have to find the following details:<br>
A) Name<br>
B) Year span<br>
C) Genre<br>
D) Run time<br>
E) Ratings<br>
F) Votes<br>

In [56]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')

In [57]:
Names = []
Year_Span = []
Genres = []
Run_Time = []
Ratings = []
Votes = []
for i in range(1,100):
    try:
        Name = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/h3/a').text
        Names.append(Name)
    except:
        Names.append('NA')
    try:
        Span = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/h3/span[2]').text
        Year_Span.append(Span)
    except:
        Year_Span.append('NA')
    try:
        Genre = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/p[1]/span[5]').text
        Genres.append(Genre)
    except:
        Genres.append('NA')
    try:
        Time = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/p[1]/span[3]').text
        Run_Time.append(Time)
    except:
        Run_Time.append('NA')
    try:
        Rating = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/div[1]/div[1]/span[2]').text
        Ratings.append(Rating)
    except:
        Ratings.append('NA')
    try:
        Vote = driver.find_element_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div['+str(i)+']/div[2]/p[4]/span[2]').text
        Votes.append(Vote)
    except:
        Votes.append('NA')
Imdb_df = pd.DataFrame(list(zip(Names, Year_Span, Genres, Run_Time, Ratings, Votes)) , 
                       columns = ['Names' , 'Year_Span' , 'Genres' ,'Run_Time' , 'Ratings', 'Votes' ])
Imdb_df

,Names,Year_Span,Genres,Run_Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,824,188"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,449"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,790"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,785"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,155"
...,...,...,...,...,...,...
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"61,622"
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,588"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,093"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,874"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,904"

10. Details of Datasets from UCI machine learning repositories.<br>
Url = https://archive.ics.uci.edu/<br>
You have to find the following details:<br>
A) Dataset name<br>
B) Data type<br>
C) Task<br>
D) Attribute type<br>
E) No of instances<br>
F) No of attribute<br>
G) Year<br>
Note: - from the home page you have to go to the Show All Dataset page through code.<br>

In [58]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://archive.ics.uci.edu/')
time.sleep(4)
view_all = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
view_all.click()

In [59]:
Dataset_Name = []
Data_Type = []
Tasks = []
Attribute_Type = []
No_of_instances = []
No_of_attributes = []
Years = []
for i in range(2,500):
    try:
        Name= driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[1]/table/tbody/tr/td[2]/p').text
        Dataset_Name.append(Name)
    except:
        Dataset_Name.append('NA')
    try:
        types = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[2]/p').text
        Data_Type.append(types)
    except:
        Data_Type.append('NA')
    try:
        task = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[3]/p').text
        Tasks.append(task)
    except:
        Tasks.append('NA')
    try:
        a_type = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[4]/p').text
        Attribute_Type.append(a_type)
    except:
        Attribute_Type.append('NA')
    try:
        instances = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[5]/p').text
        No_of_instances.append(instances)
    except:
        No_of_instances.append('NA')
    try:
        attribute = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[6]/p').text
        No_of_attributes.append(attribute)
    except:
        No_of_attributes.append('NA')
    try:
        year = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr['+str(i)+']/td[7]/p').text
        Years.append(year)
    except:
        Years.append('NA')

Uci_df = pd.DataFrame(list(zip(Dataset_Name, Data_Type, Tasks, Attribute_Type, No_of_instances, No_of_attributes, Years)),
                     columns = ['Dataset_Name', 'Data_Type', 'Tasks', 'Attribute_Type' , 'No_of_instances', 'No_of_attributes' , 'Years'])
Uci_df

,Dataset_Name,Data_Type,Tasks,Attribute_Type,No_of_instances,No_of_attributes,Years
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
493,Real-time Election Results: Portugal 2019,"Multivariate, Time-Series, Text",Regression,"Integer, Real",21643,29,2019
494,Bias correction of numerical prediction model ...,Multivariate,Regression,Real,7750,25,2020
495,Bar Crawl: Detecting Heavy Drinking,"Multivariate, Time-Series","Classification, Regression",Real,14057567,3,2020
496,Kitsune Network Attack Dataset,"Multivariate, Sequential, Time-Series","Classification, Clustering, Causal-Discovery",Real,27170754,115,2019
497,Shoulder Implant X-Ray Manufacturer Classifica...,Multivariate,Classification,Real,597,1,2020

# -------------------------------------Thank You-----------------------------------------